.form_container{
    display: flex;
    flex-direction: column;
}
.input_field_label {  
    letter-spacing: 1px;
    padding: 0.8rem 0;
    font-size: 1rem;
    color:white;
    outline: none;

}
input{
    color: black;
}
.error_message{
    color: red;
    font-size: 0.9r;
}