.item-form-container {
    max-width: 500px;
    border: 2px solid gray;
    border-radius: 4px;
    background-color: azure;
    /* margin: auto auto; */
    display: flex;
    flex-direction: column;

    padding: 20px;

}

.button_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}