.image_view {
    margin-top:20px;
    max-width: 50%;
    box-sizing: border-box;
}

/*Mobile Phones */
@media (max-width:768px) {
    
    .image_view img {
        max-width: 100%;
        height: auto;
    }

    
}
/*Mobile Phones */
@media (max-width:468px) {

    .image_view img {
        padding: 10%;
        box-sizing: border-box;
    }


}