.navbar {
    display: flex;
    height: 4rem;
    background-color: #131921;
    top: 0;
    z-index: 100;
    position: sticky;
    align-items: center;

}

.navbar_logo {
    object-fit: contain;
    width: 100rem;
    height: 50rem;
    margin: 0 20rem;
    margin-top: 18rem;
}

.navbar_search {
    display: flex;
    align-items: center;
    border-radius: 24rem;
    flex: 1;
}

.navbar_search_icon {
    background-color: #cd9042;
    padding: 0.2rem;
    height: 1.4rem;
}

.navbar_search_input {
    height: 1.3rem;
    padding: 0.5rem;
    border: none;
    width: 100%;
    outline: none;
}

.navbar_link_1 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.navbar_link_2 {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    color: white;
}

.navbar_links {
    display: flex;
    justify-content: space-evenly;
}

.navbar_link_heading_1 {
    font-size: 0.9rem;
}

.navbar_link_heading_2 {
    font-size: 0.9rem;
    font-weight: 800;
}

.navbar_link_3 {
    display: flex;
    align-items: center;
    color: white;
}


.navbar_title {
    color: white;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

/*Mobile Phones */
@media (max-width:468px) {

    .navbar {
            height: auto;
            flex-direction: column;
            width: 100%;
    
        }


}